@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
}

html {
  font-family: "Source Sans 3";
  @apply bg-primary-700;
}

ul {
  @apply my-3;
  li {
    @apply list-outside list-disc;
  }
  li::marker {
    @apply text-primary-700;
  }
}

.range-input {
  @apply relative h-10 w-full appearance-none md:w-2/3;
}

.range-input::-webkit-slider-thumb {
  @apply size-3 cursor-grab appearance-none rounded-full border-transparent bg-primary-950 shadow-md active:cursor-grabbing;
  transform: translateY(-35%);
}

.range-input::-moz-range-thumb {
  @apply size-3 cursor-grab rounded-full border-transparent bg-primary-950 shadow-md active:cursor-grabbing;
}

.range-input::-ms-thumb {
  @apply size-3 cursor-grab rounded-full bg-primary-950 shadow-md active:cursor-grabbing;
  transform: translateY(-35%);
}

.range-input::-webkit-slider-runnable-track {
  @apply h-1 rounded-lg border-0 bg-primary-200;
}

.range-input::-moz-range-track {
  @apply h-1 rounded-lg border-0 bg-primary-200;
}

.range-input::-ms-track {
  @apply h-1 rounded-lg border-0 bg-primary-200;
}
