@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
}

html {
  /* @apply border-8 border-yellow-500 sm:border-orange-500 md:border-red-500 lg:border-purple-500 xl:border-blue-500; */
  font-family: "Source Sans 3";
}

ul {
  @apply my-3;
  li {
    @apply list-inside list-disc;
  }
  li::marker {
    @apply text-primary-700;
  }
}
